{% macro render_example_2_subtotals_row(region, territory, area, store, level, report) -%}
<tr class="level{{ level }}Subtotal"
    {% if level == 3 %}gf-add-to-summary="{'name': '{{ report.get_safe_name(region.name, 'Summary', 'Data') }}', 'columnGroup': 'summary'}"{% endif %}>
    <td>{% if region %}{{ region.name }}{% else %}{% endif %}</td>
    <td>{% if territory %}{{ territory.name }}{% else %}{% endif %}</td>
    <td>{% if area %}{{ area.name }}{% else %}{% endif %}</td>
    <td>{% if store %}{{ store.name }}{% else %}{% endif %}</td>
    {% for period in report.get_periods() %}
        <td gf-subtotal="{'function': 'SUM'}">0</td>
    {% endfor %}
</tr>
{%- endmacro %}

{% macro render_example_2_header(full, report) -%}
<colgroup>
    <col span="{{ 4 if full else 1 }}" style="width:140px;"/>
    {% for period in report.get_periods() %}
        <col style="width:170px;"
             gf-currency-output-format="{'groupThousands': 'true', 'decimals': 2, 'symbol': '$', 'applyToPlainNumeric': true}"
            {% if loop.index % 4 == 0 or loop.last %} class="rowTotal" {% endif %} />
    {% endfor %}

</colgroup>
<thead>
    <tr>
        {% if full %}
            <th>Region</th>
        {% endif %}
        <th gf-column-config="{'groups': 'summary'}">Territory</th>
        {% if full %}
            <th>Area</th>
            <th>Store</th>
        {% endif %}

        {% for period in report.get_periods() %}
            {% if report.is_month(period) %}
                <th style="text-align: right"
                    gf-column-config="{'key': '{{ period }}', 'groups': ['summary', 'months', 'periods']}">{{ period }}</th>
            {% elif report.is_quarter(period) %}
                <th style="text-align: right"
                    gf-column-config="{'key': '{{ period }}', 'groups': ['summary', 'periods', 'quarters']}">{{ period }}</th>
            {% else %}
                <th style="text-align: right"
                    gf-column-config="{'key': '{{ period }}', 'groups': ['summary', 'periods']}">{{ period }}</th>
            {% endif %}
        {% endfor %}
    </tr>
</thead>
{%- endmacro %}

<html>
    <head>
        <title>Example 2</title>
        <style>
            {% include "styles.css" %}
        </style>
    </head>
    <body>
        {% for region in report.get_data().regions %}
            <table gf-table-config="{'sheetName': '{{ region.name }}', 'freezeHeader': true}">
                {{ render_example_2_header(true, report) }}
                <tbody gf-formatting-rule="{'name': '{{ report.get_safe_name('Best', 'Month', region.name) }}', 'direction': 'ROW', 'columnGroup': 'months', 'cssClasses': 'bestMonth', 'condition': 'MAX'}">
                    {% for territory in region.territories %}
                        <data-grouping
                                gf-group="{'name': '{{ report.get_safe_name(region.name, territory.name) }}'}"
                                gf-named-range="{'name': '{{ report.get_safe_name(territory.name) }}'}">

                            {% for area in territory.areas %}
                                <data-grouping
                                        gf-group="{'name': '{{ report.get_safe_name(region.name, territory.name, area.name) }}'}">

                                    {% for store in area.stores %}
                                        <tr>
                                            <td>{{ region.name }}</td>
                                            <td>{{ territory.name }}</td>
                                            <td>{{ area.name }}</td>
                                            <td>{{ store.name }}</td>

                                            {% for period in report.get_periods() %}
                                                {% if report.is_month(period) %}
                                                    <td>{{ store.data[period] }}</td>
                                                {% elif report.is_quarter(period) %}
                                                    <td class="rowTotal"
                                                        data-gf-formula="{'formula': 'SUM(@col(-3):@col(-1))'}">0
                                                    </td>
                                                {% else %}
                                                    <td class="rowTotal"
                                                        data-gf-formula="{'formula': 'SUM(@cols(quarters))'}">
                                                        0
                                                    </td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    {{ render_example_2_subtotals_row(region, territory, area, "", 4, report) }}
                                </data-grouping>
                            {% endfor %}
                            {{ render_example_2_subtotals_row(region, territory, "", "", 3, report) }}
                        </data-grouping>
                    {% endfor %}
                    {{ render_example_2_subtotals_row(region, "", "", "", 2, report) }}
                </tbody>
            </table>
        {% endfor %}

        <!-- SUMMARY SHEET -->
        <table gf-table-config="{'sheetName': 'Summary', 'freezeHeader': true}"
               gf-formatting-rule="{'name': 'BestOverallMonthSummary', 'direction': 'RANGE', 'columnGroup': 'months', 'cssClasses': ['bestMonthOverallLevel1', 'bestMonthOverallLevel2'], 'condition': 'TOP_5'}">
            {{ render_example_2_header(False, report) }}
            <tbody>
                {% for region in report.get_data().regions %}
                    <data-grouping
                            gf-summary-output="{'name': '{{ report.get_safe_name(region.name, 'Summary', 'Data') }}'}"
                            gf-group="{'name': '{{ report.get_safe_name(region.name, 'Summary') }}'}">
                        <tr class="level2Subtotal">
                            <td>{{ region.name }}</td>
                            {% for period in report.get_periods() %}
                                <td gf-subtotal="{}">0$</td>
                            {% endfor %}
                        </tr>
                    </data-grouping>
                {% endfor %}
                <tr class="level1Subtotal">
                    <td>Overall</td>
                    {% for period in report.get_periods() %}
                        <td gf-subtotal="{}">0$</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </body>
</html>
